.w {
    padding: 0 10%;
}
.wf {
    padding: 0;
}
.r {
    display: flex;
}
.c-1 {
    width: 20%;
}
.c-2 {
    width: 40%;
}
.c-3 {
    width: 60%;
}
.c-4 {
    width: 80%;
}
.c-5 {
    width: 100%;
}
